.navbar {
    margin-top: 20px;
    margin-bottom: 40px;

    .navbar__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        //! navbar list
        .navbar__list {
            display: flex;
            align-items: center;
            gap: 40px;

            //? navbar list item
            .navbar__list-item {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 19px;
                a {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
            //? navbar list item after
            .navbar__list-item a::after {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 0%;
                height: 4px;
                background-color: green;
                transition: all 0.3s ease;
            }
            .navbar__list-item a:hover::after {
                width: 80%;
            }
            #selectEl {
                padding: 3px 9px;
                border-radius: 5px;
                font-size: 16px;
            }
        }
    }
}
